*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.helped .helped__banner{
    font-size: 25px;
    color: black;
    text-align: center;
}
.helped__input{
    text-align: center;
}
.helped__input input{
    margin: 20px 0;
    width: 400px;
    border: none;
    height: 50px;
    font-size: 20px;
    text-align: center;
    outline:none;
}
.header__accordion{
    max-width: 900px;
    margin: 0 auto;
}
.components{
    text-align: center;
    border: 1px solid rgb(204, 204, 204);
}
.components .label{
    background-color: rgb(165, 104, 221);
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    transition: 50ms;
}
.components .label:hover{
    background-color: rgb(188, 125, 247);
}
.components .text{
    padding: 10px;
    display: none;
}
.active{
    display: block !important;
}